<div class="">
  <form class="" action="index.html" method="post">
    <label for="">Titulo <input type="text" ng-model="$ctrl.noticia.titulo"> </label> <br>'
    <label for=""> Mensagem<textarea name="msg"  cols="30" rows="10" ng-model="$ctrl.noticia.mensagem"></textarea><br> </label>'
    <label for="">Autor<input type="text" ng-model="$ctrl.noticia.autor"></label>'
  </form>
</div>


<button ng-click="$ctrl.onButtonClicked()" >'
{{$ctrl.editando ? "Atualizar" : "Adicionar"}}'
</button>'
<button ng-click="$ctrl.onDeleteButtonClicked()">'
Deletar'
</button>

<div class="">
  
</div>
