<div>
  <div class="">
    <h3> Adicione lançamentos </h3>
    <form class="" name="lancamentoForm" action="index.html" method="post">

      <div class="">
        <label for="">Nome
          <input type="text" name="nome" ng-model="$ctrl.lancamento.nome">
        </label>
      </div>

      <div class="">
        <label for="">Menssagem
          <textarea name="menssagem" rows="8" cols="80" ng-model="$ctrl.lancamento.menssagem"></textarea>
        </label>
        <!-- menssagem -->
      </div>

      <div class="">
        <label for="">valor
          <input type="text" name="valor" ng-model="$ctrl.valor">
        </label>
      </div>

      <div class="">
        <select class="" name="receita" ng-model="$ctrl.receita" ng-options="receita.nome for receita in $ctrl.receitas">
        </select>
        <!-- select possui receita -->
      </div>

      <div class="">
        <select class="" name="categoria" ng-model="$ctrl.categoria" ng-options="cat.nome for cat in $ctrl.categorias">
        </select>
        <!--select categoria -->
      </div>

      <div class="">
        <select class="" name="repetitividade" ng-model="$ctrl.repetitividade" ng-options="rep for rep in $ctrl.repetitividades">
        </select>
        <!-- select repetitividade -->
      </div>

      <div>
        <button class="btn btn-info margensExtras">
          Salvar
        </button>
      </div>
    </form>
  </div>
</div>
