<div class="">

    <div class="row">
      <div class="panel panel-info col-sm-8 col-offset-2">
        <form class="" action="index.html" method="post">
          <div class="form-control">
            <label for="buscarcategorias">Buscar categorias
              <input type="text" name="buscarcategorias" value="">
            </label>
          </div>

        <div class="">
          <p></p>
        </div>
        </form>

        <div class="btn btn-info">
          <button type="button" name="buscar">Buscar</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-info col-sm-8 col-offset-2">
        <form class="" action="index.html" method="post">
          <div class="form-control">
            <label for="nome">Nome da categoria
              <input type="text" name="nome" value="">
            </label>
          </div>

          <div class="form-control">
            <label for="desc">Descição da categoria
              <textarea name="desc" rows="8" cols="80"></textarea>
            </label>
          </div>
        </form>

        <button type="button" name="salvar">Salvar</button>
      </div>

    </div>

</div>
